@use "variables";
@use "mixins";
@use "sass:color";

.container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  background-color: adjust-color(variables.$primary-color, $alpha: -0.4);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;

  .previous {
    padding: 2rem 1rem;
  }

  .dots {
    padding: 2rem 1rem;
  }

  .next {
    padding: 2rem 1rem;
  }

  .pill {
    @include mixins.rounded;
    text-decoration: inherit;
    color: inherit;
    padding: 0.5rem;
    > a {
      text-decoration: inherit;
      color: inherit;
    }

    &:hover {
      @include mixins.coloredShadow(variables.$accent-color);
      background-color: variables.$secondary-color;
      border: solid 1px variables.$accent-color;
    }

    &.selected {
      background-color: variables.$secondary-color;
      border: solid 1px variables.$accent-color;
    }
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    &.left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  }
}
