@use "mixins";
@use "variables";

.container {
  border: 0;
  padding: 1rem;
  @include mixins.rounded;
  background-color: variables.$secondary-color;
  font-size: medium;

  > * {
    text-decoration: inherit;
    color: inherit;
  }

  &:hover {
    @include mixins.coloredShadow(variables.$accent-color);
    cursor: pointer;
  }
}
