$font-family: Roboto;

$primary-color: #527853;
$secondary-color: #f9e8d9;
$tertiary-color: #f7b787;
$accent-color: #ee7214;

$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$heavy-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
