@use "variables";
@use "mixins";

.card {
  @include mixins.rounded;
  @include mixins.coloredShadow(variables.$accent-color);
  @include mixins.coloredBorder(variables.$accent-color);
  background-color: variables.$tertiary-color;
  margin: 0 1rem;
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: 20rem;
  text-decoration: none;

  &:hover {
    @include mixins.coloredHeavyShadow(variables.$accent-color);
  }

  .header {
    padding: 0 1rem;
  }

  .content {
    display: flex;
    overflow-wrap: normal;
    justify-content: center;
    position: relative;
    width: 100%;

    > p {
      padding: 0 1rem;
    }
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top: solid 1px variables.$accent-color;
    border-bottom: solid 1px variables.$accent-color;
  }
}
