@use "variables";

.html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  .body {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: variables.$font-family;
    background-color: variables.$primary-color;
  }
}
