@use "variables";
@use "mixins";

.container {
  @include mixins.coloredShadow(variables.$accent-color);
  height: 100px;
  background-color: variables.$secondary-color;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  a {
    text-decoration: inherit;
    color: inherit;
  }

  .title {
    padding: 0 3rem;
  }

  .links {
    justify-self: end;
    padding-right: 3rem;
    display: flex;
    gap: 2rem;
  }
}
